<%= simple_form_for [post, post.comments.build] do |form| %>
  <div class="field">
    <div class="control">
      <%= form.input :name, input_html: {class: "input"}, label_html: {class: "label"}, wrapper: false %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.input :comment, input_html: {class: "textarea"}, label_html: {class: "label"}, wrapper: false %>
    </div>
  </div>
  <%= form.button :submit, class: "button is-primary" %>
<% end %>
